* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f4f4f4;
  height: 100vh;
}

.PlantSummary {
  margin: 20px;
}

.Plant {
  background-color: #a8a5a5;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.header-img {
  width: 80vw;
  margin-left: 10vw;
}

.Plant {
  display: grid;
  grid-template-areas:
    "name"
    "water"
    "light"
    "temp";
}

.linear {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 5px;
}

.plant-name {
  grid-area: name;
}

.plant-water {
  grid-area: water;
}

.plant-light {
  grid-area: light;
}

.plant-temp {
  grid-area: temp;
}

h1 {
  padding: 15px 5px;
}

.btn {
  height: 2em;
  border: none;
  border-radius: 5px;
}
